<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.lpegasus.edealdeal" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>app</name>
  <description>
    一丢丢海淘
  </description>
  <author email="pegusas1@hotmail.com" href="http://m.edealdeal.com">
      LPegasus
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="true"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>