<ion-view hide-back-button="false">
  <ion-nav-title>商品详情</ion-nav-title>
  <ion-nav-buttons side="right" ng-show="!!c.header.rightButtonIcon">
    <a ng-class="['button button-icon', c.header.rightButtonIcon]" href="javascript:;" ng-click="c.header.rightButtonCallback()"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="left" ng-show="!!c.header.leftButtonIcon">
    <a ng-class="['button button-icon back-button', c.header.leftButtonIcon]" href="javascript:;" ng-click="c.header.leftButtonCallback()"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list" id="goods-detail-view">
      <div class="item">
        <img class="responsive" ng-src="{{goodsDetail.img_url}}" alt="" />
      </div>
      <div class="item detail-item">
        <div class="row row-top">
          <div class="col-75">
            <p class="detail-title" ng-bind="goodsDetail.title"></p>
            <p class="price">
              <span class="real" ng-bind="'丢丢价:' + (goodsDetail.current_price | currency: '￥')"></span>
              <span class="ref" ng-bind="(goodsDetail.reference_price | currency: '￥')"></span>&nbsp;
            </p>
            <p class="postage">
              <span>邮费：包邮</span>&nbsp;&nbsp;&nbsp;
              <span>配送方式：{{goodsDetail.delivery_way}}</span>
            </p>
          </div>
          <div class="col-25">
            <img class="responsive" src="http://testapp.edealdeal.com/static/images/country_au.jpg" />
            <div class="detail-sold-num" ng-cloak>已售：{{goodsDetail.sold_num}}</div>
          </div>
        </div>
      </div>
      <div class="item transparent">服务承诺</div>
      <div class="item detail-ensure tag-shadow">
        <span><i class="fa fa-check-circle-o fa-lg"></i>&nbsp;<span>正品保证</span></span>
        <span><i class="fa fa-check-circle-o fa-lg"></i>&nbsp;<span>赠运费险</span></span>
        <span><i class="fa fa-check-circle-o fa-lg"></i>&nbsp;<span>急速退款</span></span>
      </div>
      <div class="item detail-ensure tag-shadow">
        <span><i class="icon-rect-free"></i> 全场包邮</span>
      </div>
      <div class="item tag-shadow white-bg" id="go-to-detail">
        <span>商品详情</span>
        <span class="fr"><i class="fa fa-angle-right fa-lg"></i></span>
      </div>
      <div class="list white-bg tag-shadow" id="comment-list" ng-if="c.comments">
        <h2>评论（5）</h2>
        <a class="item item-avatar" ng-repeat="comment in c.comments">
          <img ng-src="{{comment.header}}">
          <h3><span>{{comment.username}}</span><span class="fr grey">{{comment.datetime | date:'yyyy-MM-dd  HH:mm:ss'}}</span></h3>
          <p>{{comment.content}}</p>
        </a>
        <div id="more-comment">
          <a ui-sref=".allcomment">查看更多留言</a>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-buy stable-bg">
    <button><i class="icon ion-ios-cart"></i><br/>购物车</button>
    <button id="add-to-cart">加入购物车</button>
    <button class="assertive-bg" id="go-to-pay">立即购买</button>
  </div>
</ion-view>